@charset "utf-8";
body {
	background:#fff;
}
#frame img {
	position:absolute;
}
#main {
	position:absolute;
	left:0px;
	top:0px;
	width:210px;
	height:350px;
}
#frame {
	position:absolute;
	left:0px;
	top:0px;
	width:208px;/*width & height 2px less than total*/
	height:348px;
	overflow:hidden;
	background:#fff;
	border:1px solid rgb(51, 51, 51);
}
.clickable {
	cursor:pointer;
}

#slide_bg {
	position: absolute;
	left: 0;
	top: 0;
	width:208px;
	height:348px;
	background-color: #1e4056;
	opacity: 0.85;
}
#slide_logo {
	position: absolute;
	left: 42px;
	top: 157px;
}
#slide_logo_type {
	width: 125px;
	height: auto;
}
#slide_logo_tagline {
	position: absolute;
	top: 34px;
	width: 126px;
	height: auto;
}
#text_1 {height: auto; left: 0px; opacity: 0; top: 0px; width: 210px;}
#text_2 {height: auto; left: 3px; opacity: 0; top: 10px; width: 210px;}
#text_3 {height: auto; left: 0px; opacity: 0; top: 0px; width: 210px;}
#text_4 {height: auto; left: 0px; opacity: 0; top: -20px; width: 210px;}
#text_5 {height: auto; left: -1px; opacity: 0; top: -35px; width: 210px;}

#animation_bg {width: 716px; height: auto; opacity: 0;position:relative;top:-100px;}
#animation_chip {width: 211px; height: auto; opacity: 0;}